{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <div class="text-center">
        <h2>ABOUT THE PROJECT</h2>
    </div>
    <p class="content"><strong style="color: rgb(255, 0, 170);">FACE RECOGNITION ATTENDANCE SYSTEM </strong>is a project which recognizes the face of the students in a real time video and automatically takes their attendace into the admin's online attendance sheet. This idea is basically implemented to help teachers to take online attendance with a proof of the students really attending their classes.</p>
    <br>
    <h3>HOW TO REGISTER ?</h3>
    <p class="content">
        <ul class="content">
            <li>1) Students need to register themselves into the portal.</li>
            <li>2) While registering, make sure you upload a well lighted photograph of yours.</li>
            <li>3) To put the attendance, they need to login into their account first.</li>
            <li>4) Give Attendance button will appear in their profile.</li>
            <li>5) Press the button and give the attendance.</li>
        </ul>
    </p>
    <br><br>
    <div class="container">
    <section class="team-section text-center my-5">
        <h1 class="h1-responsive font-weight-bold">Project Made By</h1>
        <div class="row mb-5 mt-5">
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1609162092/aaa_dqdnoo.jpg" class="rounded-circle z-depth-1 team"
                    alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Rashmi Ranjan Das</h5>
                <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
                <ul class="list-unstyled mb-0">
                    <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/rashmiranjan.das.75286" style="color: black; text-decoration: none;">
                        <i class="fab fa-facebook-f fb blue-text"> </i>
                    </a>
                    <a class="p-2 fa-lg tw-ic" href="https://twitter.com/rox_rashmi" style="color: black; text-decoration: none;">
                        <i class="fab fa-twitter tt blue-text"> </i>
                    </a>
                    <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_r.o.x_rashmi_/" style="color: black; text-decoration: none;">
                        <i class="fab fa-instagram insta blue-text"> </i>
                    </a>
                    <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/rashmi-ranjan-das-1726351a0/" style="color: black; text-decoration: none;">
                        <i class="fab fa-linkedin linkedin blue-text"> </i>
                    </a>
                    <a class="p-2 fa-lg ins-ic" href="https://github.com/WebDesign4New" style="color: black; text-decoration: none;">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                    <a class="p-2 fa-lg ins-ic" href="https://webdesign4new.github.io/homepage/" style="color: black; text-decoration: none;">
                        <i class="fab fa-dribbble website blue-text"> </i>
                    </a>
                </ul>
            </div><div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1609161757/asas_wt52i3.jpg" class="rounded-circle z-depth-1 team"
                    alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Utsav Pati</h5>
                <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
                <ul class="list-unstyled mb-0">
                <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/rashmiranjan.das.75286" style="color: black; text-decoration: none;">
                    <i class="fab fa-facebook-f fb blue-text"> </i>
                </a>
                <a class="p-2 fa-lg tw-ic" href="https://twitter.com/rox_rashmi" style="color: black; text-decoration: none;">
                    <i class="fab fa-twitter tt blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_r.o.x_rashmi_/" style="color: black; text-decoration: none;">
                    <i class="fab fa-instagram insta blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/rashmi-ranjan-das-1726351a0/" style="color: black; text-decoration: none;">
                    <i class="fab fa-linkedin linkedin blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://github.com/WebDesign4New" style="color: black; text-decoration: none;">
                    <i class="fab fa-github blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://webdesign4new.github.io/homepage/" style="color: black; text-decoration: none;">
                    <i class="fab fa-dribbble website blue-text"> </i>
                </a>
                </ul>
            </div>
        </div>
    </section>
    </div>
</div>
{% endblock %}