body{
    background-color: black;
    color: greenyellow;
}


.navbar-nav{
    padding: 1.5%;
    font: 1.2em sans-serif;
}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 500;
}